body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

.hidden{
  display: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0px 0px 0px 0px;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

/* common */

.container{
  max-width: 320px;
  margin: 0px auto;
  padding: 0px 16px;
}

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
    margin: 0px auto;
    padding: 0px 16px;
  }
}

@media screen and (min-width: 1158px){
  .container{
    max-width: 1158px;
    margin: 0px auto;
    padding: 0 15px;
  }
}

/* header */

.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.nav-list,
.contacts{
  display: none;
}

.logo{
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.logo-span{
  color: #2E2F42;
}

.navigation-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2E2F42;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-one{
  color: #404BBF;
}
.link-one::after{
  content: "";
  color: #404BBF;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404BBF;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.navigation-link:hover{
  color: #404bbf;
}
.navigation-link:focus{
  color: #404bbf;
}

.contacts{
  font-style: normal;
}

.navigaiotn-item{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover{
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:focus{
  color: #404bbf;
}

.burger-btn{
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
  fill: #2F2F37;
}

@media screen and (min-width: 768px){
  .logo{
    margin-right: 120px;
  }
  .burger-btn{
    display: none;
  }
  .navigation{
    display: flex;
    align-items: center;
  }
  
  .nav-list{
    display: flex;
    gap: 40px;
  }
  .contacts{
    display: block;
  }
  .contacts-list{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }



  .navigation-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-one{
    color: #404BBF;
  }
  .link-one::after{
    content: "";
    color: #404BBF;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .navigation-link:hover,
  .contacts-link:hover,
  .contacts-link:focus,
  .navigation-link:focus{
    color: #404bbf;
  }
  .contacts{
    font-style: normal;
  }
  
  .navigaiotn-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover{
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px){
  .logo{
    margin-right: 76px;
  }
  .contacts-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    row-gap: 0px;
  }
  .contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}


.section{
  padding: 96px 0;
}

.section-one{
  max-width: 1440px;
  padding: 72px 0;
  margin: 0px auto;
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../images/people-office.jpg);
  background-color: #2E2F42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  max-width: 496px;
  margin-bottom: 72px;
  max-width: 216px;
}

.order-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4D5AE5;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover{
  background-color: #404BBF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus{
  background-color: #404BBF;
}
.order-button:active{
  text-decoration: underline;
}

@media screen and (min-width: 768px){
  .section-one{
    padding: 112px 0;
  }
  .main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px){
  .section{
    padding: 120px 0;
  }
  
  .section-one{
    max-width: 1440px;
    padding: 188px 0;
    margin: 0px auto;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office.jpg);
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .container-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
  }
  
  .order-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button:hover{
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button:focus{
    background-color: #404BBF;
  }
  .order-button:active{
    text-decoration: underline;
  }
}

.section-two{
  padding: 96px 0;
}

.title-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  row-gap: 72px;
}

.advantages-icon{
  display: none;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.advantages-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-description{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px){
  .advantages-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-item{
    max-width: 356px;
  }
  .advantages-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: left;
  }
}

@media screen and (min-width: 1158px){
  .section-two{
    padding: 120px 0;
  }
  
  .title-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .advantages-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 24px;
  }
  
  .advantages-item{
    width: calc((100% - 72px) / 4);
  }
  
  .advantages-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .advantages-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: left;
  }
  .advantages-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

.footer-form{
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.form-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.form-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-btn-svg {
  margin-left: 16px;
  fill: #fff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

input {
  font-family: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.btn-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .btn-svg,
.modal-close-btn:focus .btn-svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;
  position: relative;
  display: block;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  font-family: inherit;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  pointer-events: none;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 24px;
  display: block;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.input-icon svg {
  width: 100%;
  height: 100%;
}

.input-icon {
  z-index: 1;
}

.modal-label-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  margin-top: 16px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.checkbox-custom {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.modal-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-link:hover,
.modal-policy-link:focus {
  color: #404bbf;
}

.modal-send-btn {
  display: block;
  align-self: center;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px){
  .footer-form{
    display: flex;
    flex-direction: column;
  }
  
  .form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  
  .subscribe-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input:focus {
    outline: none;
    border-color: #4d5ae5;
  }
  
  .form-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
  }
  
  .form-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-btn:hover,
  .form-btn:focus {
    background: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  
  .form-btn-svg {
    margin-left: 16px;
    fill: #fff;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  
  input {
    font-family: inherit;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .modal-window {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
  }
  
  .btn-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-btn:hover .btn-svg,
  .modal-close-btn:focus .btn-svg {
    fill: #ffffff;
  }
  
  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container {
    margin-bottom: 8px;
  }
  
  .modal-label {
    margin-bottom: 4px;
    position: relative;
    display: block;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  
  .input-icon-container {
    position: relative;
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    font-family: inherit;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus {
    outline: none;
    border-color: #4d5ae5;
  }
  
  .input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    pointer-events: none;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 24px;
    display: block;
  }
  
  .modal-input:focus + .input-icon {
    fill: #4d5ae5;
  }
  
  .input-icon svg {
    width: 100%;
    height: 100%;
  }
  
  .input-icon {
    z-index: 1;
  }
  
  .modal-label-textarea {
    margin-bottom: 16px;
  }
  
  .modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
  }
  
  .modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .checkbox {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    margin-top: 16px;
  }
  
  .checkbox-container {
    margin-bottom: 24px;
  }
  
  .checkbox-input {
    appearance: none;
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-custom {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  input[type="checkbox"]:checked + label .checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
  }
  
  .modal-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-policy-link:hover,
  .modal-policy-link:focus {
    color: #404bbf;
  }
  
  .modal-send-btn {
    display: block;
    align-self: center;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-send-btn:hover,
  .modal-send-btn:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}