





.footer{
  background-color: #2E2F42;
  padding: 100px 0;
}

.footer-container{
  display: flex;
  align-items: baseline;
}

.footer-logo{
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-footer-span{
  color: #f4f4fd;
}

.footer-description{
  margin-right: 120px;
}

.footer-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
}

.footer-socials{
  margin-right: 80px;
}

.socials-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.socials-socials{
  display: flex;
  gap: 16px;
}

.socials-item{
  width: 40px;
  height: 40px;
}

.socials-link{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover{
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:focus{
  background-color: #31d0aa;
}

.socials-link:not(:last-child){
  margin-right: 16px;
}

.footer-form{
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.form-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.form-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-btn-svg {
  margin-left: 16px;
  fill: #fff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

input {
  font-family: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.btn-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .btn-svg,
.modal-close-btn:focus .btn-svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;
  position: relative;
  display: block;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  font-family: inherit;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  pointer-events: none;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 24px;
  display: block;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.input-icon svg {
  width: 100%;
  height: 100%;
}

.input-icon {
  z-index: 1;
}

.modal-label-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  margin-top: 16px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.modal-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-link:hover,
.modal-policy-link:focus {
  color: #404bbf;
}

.modal-send-btn {
  display: block;
  align-self: center;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}